* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
}



/*estilos del Header  */

.header {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(10, 10, 10, 1) 0%, rgba(10, 10, 10, 1) 0%, rgba(10, 10, 10, 1) 49%, rgba(2, 36, 105, 1) 100%);
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}




.nav__lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;

}


.nav__item {

    margin-right: 2rem;

}

.nav__enlaces {
    text-decoration: none;
    color: #ffffff
}

/* estilos seccion 1 */

.seccion1 {
    background-image: url("../imagenes/imagen-stock-section1.png");
    background-size: 1600px 650px;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 6rem 2rem 8rem;
    font-family: Arial, Helvetica, sans-serif;

}

.seccion1_izquierda {
    display: flex;
    flex-direction: column;

}

.seccion1_servicios {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;

}

.seccion1_titulo1 {
    font-size: 4rem;
    font-weight: 600;


}

.seccion1_titulo2 {
    color: #28208c;
    font-size: 3.3rem;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 1rem;

}

.seccion1_texto {
    line-height: 1.8;

}

.seccion1_texto1 {
    line-height: 1.8;
    margin-bottom: 2rem;

}


.seccion1_boton {
    background-color: #0a0a0a;
    color: white;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    width: 150px;
    text-align: center;
    border-radius: 20px;

}



.seccion1_boton:hover {

    transform: scale(1.1);
}

/* estilos seccion 2 */


.seccion2 {
    width: 100%;
    background-color: #0a0a0a;
    background-image: url('../imagenes/fotostock-seccion2.png');
    background-size: 1200px 600px;
    background-repeat: no-repeat;
    min-height: 400px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 6rem 4rem 8rem;
    font-family: Arial, Helvetica, sans-serif;

}

.seccion2__derecha {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.seccion2__titulo1 {
    color: antiquewhite;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding-right: 4rem;
    text-transform: uppercase;

}

.seccion2__titulo2 {
    color: #28208c;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    padding-right: 4rem;

}

.seccion2__texto {
    color: antiquewhite;
    text-align: center;
    width: 30rem;
    padding: 0 5rem 2rem 0;
    font-size: 18px;
    letter-spacing: 2px;
}

.seccion2__imagen {

    size-adjust: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;


}

.seccion3 {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem 3rem 3rem;
    align-items: center;
    justify-content: center;

}

.seccion3__imagen {
    width: 100%;
    height: 100%;

}

.seccion3__texto {
    font-weight: 800;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #0a0a0a;
}







/* footer */

.footer {
    background-color: #0a0a0a;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

.logotipo__footer {
    margin-left: 1rem;
}

.enlaces__items {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 1rem 1rem 1rem 1rem;
    margin-left: 16rem;
    font-size: 14px;

}

.enlaces__footer {
    list-style: none;
    display: flex;
    flex-direction: column;



}

.enlace1__footer {
    text-decoration: none;
    color: #ffffff;


}

.enlace2__footer {

    text-decoration: none;
    color: #ffffff;


}

.footer__texto {
    width: 40rem;
    padding-left: 2rem;
    color: white;
    font-size: 12px;
}

.footer__redes {
    display: flex;
    flex-direction: row;
    color: white;
    padding-left: 8rem;
    margin-right: 0;
}

/* pagina nosotros */

.nosotros {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 0 2rem 0;
    padding: 5rem 5rem 5rem 5rem;
    width: 100%;
    min-height: 600px;
    font-family: Arial, Helvetica, sans-serif;

}

.nosotros__derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nosotros__titulo {
    color: #28208c;
    font-size: 4rem;
    padding: 1rem 4rem 2rem 1rem;
    margin-top: 4rem;
}

.nosotros__texto {

    color: #0a0a0a;
    text-align: center;
    width: 35rem;
    padding: 0 2rem 2rem 0;
    margin-top: 1rem;
    font-size: 18px;

}

.nosotros__banner {

    padding: 8rem 1rem 1rem 1rem;
    margin: 0 4rem 0 0;

}

/* header bootsrap */

ul {
    margin-bottom: 0;
}

/* Manejando carrusel */



.carousel-item {
    height: 650px;
    object-fit: cover;
    margin-left: 0;
}

.h5carrusel {
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px #313131
}

h5 {
    font-size: 4rem;

}

.carousel-caption {
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px #313131
}

.container-fluid {
    overflow: hidden;
    padding: 56px 0 0 0;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet);
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};


}

/* seccion infraestructura */
.seccion_servicios {
   
    width: 96%;
    margin-top: 2rem;
    margin-left: 2%;
    margin-right: 2%;
  

}

.seccion_servicios_titulo {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;

}

.card-title {
    margin-bottom: 1rem;
    font-size: 22px;
    text-align: center;
}

.card-text {
    font-size: 18px;
}

.card-img-top {
    width: auto;
    height: 300px;
}

.seccion_sistemas{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.accordion-button{
    font-size: 24px;
}

.accordion-body{
    font-size: 20px;
}

.seccion_consultoria{
    margin-bottom: 5rem;
}
/* Creando una Media Query para aplicar cambios necesarios para las vistas pequeñas tablet y mobile */




@media (max-width: 1023px) {

    .seccion1 {
        background-size: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
    }

    .seccion1_izquierda {
        flex-direction: column;
        justify-content: space-around;
    }

    .seccion2 {

        background-size: 100%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0 0 0 2rem;

    }

    .seccion2__derecha {
        width: auto;
        height: auto;


        padding: 1rem 1rem 1rem 1rem;
        margin: 0 0 0 2rem;

    }

    .seccion2__titulo1 {
        width: 400px;

        font-size: 45px;
        margin-left: 10px;
        text-align: center;
        padding: 0 0 0 0;

    }

    .seccion2__titulo2 {

        width: 400px;

        font-size: 22.5px;
        text-align: center;
        padding: 0 0 0 0;
    }

    .seccion2__texto {
        width: 400px;

        font-size: 16px;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    .footer__redes {
        width: auto;

        padding: 0 1rem 0 0;
        margin: 0 0 0 0;
    }
}



@media (max-width: 600px) {}